/* Custom CSS */

body{
    font-family:arial, sans-serif;
}

/* https://bit.ly/3a38XGS "How to center an element in the middle of...?" */
.center-obj {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.search-bar{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 1px solid #d0cfcf;
    border-top: 1px solid #d0cfcf;
    width: 548px;
    height: 40px;
    background: transparent;
    padding-left:50px;
}

.search-icon{
    background:transparent; 
    margin-right: -45px; 
    position:relative;
}

input:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
input:focus{
    outline: none;
}
.submit-button{
    border:0.1px solid #f8f9fa;;
    border-radius:4px;
    color: #3c4043;
    font-family: Roboto,arial,sans-serif;
    font-size:14px;
    margin:11px 4px;
    line-height: 27px;
    padding: 0 16px;
    height: 36px;
    background-color: #f8f9fa;;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.submit-button:hover{
    border: 1px solid #bbb4b4;
}

.nl-style{
    font-family: Roboto,arial,sans-serif; 
    font-size: 13px; 
    color:rgba(0, 0, 0, 0.87);
    
}

.nl-style:hover{
    color:rgba(0, 0, 0, 0.87);
    text-decoration:underline;
}

/* Image Search Page */
.google-images-text{
    color:#4285f4;
    font:16px/16px roboto-regular, arial, sans-serif;
    margin-left:40%;
}

/* Advanced Search Page */

.advanced-search-title{
    color: #d93025;
    font-size: 20px;
    display: block;
}

/* Advanced Search Button Style 
    from google.com/advanced_search */

.adv-search-btn{
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    white-space: nowrap;
    margin-right: 16px;
    
    height:30px;
    padding: 0 12px;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
    border: 1px solid #3079ed;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

}